// Common
$white-color: #FFFFFF;
$dark-color: #151D51;
// Gray
$gray-color: #6C96CE;
// Purple
$purple-color: #483FDD;
$purple-light-color: #EFF1FF;
// Pink
$pink-light-color: #F6EDFA;
// Blue
$blue-light-color: #E6F2FE;
// Green
$green-light-color: #EAF5E4;
//Orange
$orange-color: #DF723A;
$orange-light-color: #FFF2EB;

:export {
  // Common
  white: $white-color;
  dark: $dark-color;
  // Gray
  gray: $gray-color;
  // Purple
  purple: $purple-color;
  purpleLight: $purple-light-color;
  // Pink
  pinkLight: $pink-light-color;
  // Blue
  blueLight: $blue-light-color;
  // Green
  greenLight: $green-light-color;
  //Orange
  orange: $orange-color;
  orangeLight: $orange-light-color;
}


