@import "src/styles/colors.module";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-family: var(--font-moderat);
  font-weight: 400;
}

body {
  color: $dark-color;
  background-color: $white-color;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

.buttonBaseStyles {
  border: none;
  transition: 0.1s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  &:active {
    transform: scale(0.98);
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}
