@import "src/styles/colors.module";

.wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white-color;
  backdrop-filter: blur(50px);
}

.container {
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}