@import "src/styles/colors.module";

.container {
  display: flex;
  flex-direction: column;
  gap: 38px;
  
  & .item {
    position: relative;

    &:not(:last-of-type) {
      &::before {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 14px;
        transform: translateX(-50%);
        height: 100%;
        width: 0;
        border-left: 1px dashed $dark-color;
      }
    }
  }
}